
/** AUTOHIDE FOR ADMINS **/

/** To hide the icons we are using opacity as display:none makes
the buttons inaccessible. 

FILTER attributes should apply to IE so long as the strict 
doctype is served. Use Filter: none on clear to protect PNG alphas.

Tweak the top opacity values to get "ghost" icons rather than hiding them**/
.block .header .commands a img,
.block .header .commands span img,
.path-course-view .section .content li .module_selector_checkbox,
.path-course-view .section .content li .commands a img,
.path-course-view .section .content li .commands span img,
.path-course-view .section .content li span.editing_move img,
.path-course-view .section .content li a.editing_title img,
.path-course-view .section .content .summary a img.icon.edit
{
	opacity: 0.01;	
	filter: alpha(opacity=1);
	-o-transition: opacity 0.3s linear 0.1s;
	-moz-transition: opacity 0.3s linear 0.1s;
	-webkit-transition: opacity 0.3s linear 0.1s;
	transition: opacity 0.3s linear 0.1s;
}

.path-course-view .section .left.side a img,
.path-course-view .section .left.side span img,
.path-course-view .section .right.side a img,
.path-course-view .section .right.side span img,
.path-course-view .section .right.side div img,
.jsenabled .moodle-actionmenu .toggle-display.textmenu
{
    opacity: 0.01; 
    filter: alpha(opacity=1);
}

.path-course-view .section .right.side a:focus img,
.path-course-view .section .left.side a:focus img,
.path-course-view .section .right.side span:focus img,
.path-course-view .section .left.side span:focus img,
.ie.path-course-view .section .right.side a:active img,
.ie.path-course-view .section .left.side a:active img,
.path-course-view .section:hover .right.side img,
.path-course-view .section:hover .left.side img
{
  opacity:1;
  filter: none;
	-o-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.block:hover .header .commands a img,
.block .header .commands a:focus img,
.ie .block .header .commands a:active img,
.path-course-view .section .content li:hover .commands a img,
.path-course-view .section .content li:hover .module_selector_checkbox,
.path-course-view .section .content li .module_selector_checkbox:checked,
.path-course-view .section .content li:hover .commands span img,
.path-course-view .section .content li .commands a:focus img,
.path-course-view .section .content li .commands span:focus img,
.ie.path-course-view .section .content li .commands a:active img,
.path-course-view .section:hover .content .summary a img.icon.edit,
.path-course-view .section:hover .content .summary div img.icon.edit,
.path-course-view .section:hover .content .summary span img.icon.edit,
.path-course-view .section .content .summary a:focus img.icon.edit,
.path-course-view .section .content .summary span:focus img.icon.edit,
.path-course-view .section .content li:hover span.editing_move img,
.path-course-view .section .content li:hover a.editing_title img,
.jsenabled .section .content li:hover .moodle-actionmenu .toggle-display,
.ie.path-course-view .section .content .summary a:active img.icon.edit{
	opacity:1;
	filter: none;
	-o-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.path-course-view .section .summary .iconsmall
{
    opacity: 0.01;	
	filter: alpha(opacity=1);
	-o-transition: opacity 0.2s linear 0.1s;
	-moz-transition: opacity 0.2s linear 0.1s;
	-webkit-transition: opacity 0.2s linear 0.1s;
	transition: opacity 0.2s linear 0.1s;
    /* float: right; */
}


.path-course-view .section .section_add_menus .horizontal {
}


.path-course-view .section .summary:focus .iconsmall, 
.path-course-view .section .summary:active .iconsmall,
.path-course-view .section .summary:hover  .iconsmall
{
	opacity:1;
	filter: none;
	-o-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

/*
.toggle-display.textmenu {
    display: none !important;
    visibility: hidden;
}
*/


.path-course-view .section .content li span.editing_move img {
}
