
div.hinttext
{
    margin-top: 2px;
    padding: 5px;
    border: 1px dotted #000;
    background-color: #F8F8F8;

    font-size: 14px;
}

div.hint h3
{
    text-transform: uppercase;
    font-size: 10px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

div.hint
{
    margin-top: 10px;
}

input.gradenow
{
   background-image: url([[pix:theme|gradenow]]);
}

input.savenow
{
   background-image: url([[pix:theme|savenow]]);
}

input.gethint
{
   background-image: url([[pix:theme|hint]]);
}


input.gethint.disabled
{
   background-image: url([[pix:theme|nohint]]);
}

input.gradenow:hover,
input.savenow:hover,
input.gethint:hover
{
    background-color: #FFFEE0;
}

input.gethint.disabled:hover,
{
    background-color:#F5F5F5;
}

input.gradenow,
input.savenow,
input.gethint
{
   padding: 4px 4px 4px 27px; 
   margin-right: 5px;
   margin-top: 10px;
   background-color:#F5F5F5;
   border-style:dotted;
   border-color:#CCCCCC;
   border-width:1px; 
   background-repeat: no-repeat;
   background-position: 6px 4px;

   font-size: 9pt;

   cursor: pointer;
}



