
.addresourcedropdown .section_add_menus .horizontal
{
    /* TODO: find a better way to do this- the problem is that this div may not be here sometimes */
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: 10px;
}

{
    padding: 
}

.course-content .section li.activity {margin: 0; padding: 0.1em; }
li.activity img.activityicon {height: 16px; width:16px; }
