
@media print {
    
  div.tabtree, div#header, div.navbar, 
  div.headermenu, div.paging, div#footer, 
  div.datapreferences,
  div#region-pre,
  div#headerwrap,
  div#jcontrols_button
  {
        display: none;
  }
  
  body 
  {
      margin: 1mm !important;
  }

  .que 
  {
    border: none !important;
    box-shadow: none !important;
  }

  .que .info > div {
    display: none;
  }

  .que .content {
    margin: 2.5em;
    page-break-inside: avoid !important;
  }

  .que .info {
    width: 2em;
    white-space: nowrap;
  }

  div.region-content 
  {
        border: none !important;
        box-shadow: none !important;
  }

  div#mainpadder 
  {
        padding: 0px;
        margin: 0px;
        border: none !important;
  }

  #page-content #region-main-box {
    padding: 0px !important;
    border: none;

  }

  .side-pre-only #page-content #region-main {
    margin-left: 0mm;
  }

}
